.popup:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.footer {
  background-color: #3f51b5;
  height: 200px;
  width: 100%;
  /* bottom: 0rem; */
  color: white;
  font-size: 25px;
  /* position: relative;
  display: "flex";
  margin-top: 100; */
  position: sticky;
  top: 100%;
}

@media screen and (max-width: 855px) {
  .footer {
    display: none !important;
  }
}

.accordion {
  background-color: #3f51b5;
  color: red;
}

@media screen and (min-width: 855px) {
  .accordionFooter {
    display: none !important;
  }
}

.footerTitles {
  font-size: large;
  color: white;
}

.footerText {
  margin-top: 20px;
  margin-left: 30px;
  font-size: small;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: #9b9696;
}
