.items {
  align-self: center;
  width: 75vw;
  max-width: 1170px;
  margin: 2rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .items {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 457px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
  }
}

.select {
  position: relative;
  padding: 5px;
  margin: 10px;
}

.inline {
  display: inline-block;
  margin-left: 20px;
}

.right {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 100px;
}

@media screen and (max-width: 813px) {
  .right {
    display: none !important;
  }
}

@media screen and (max-width: 679px) {
  .inline {
    display: none !important;
  }
}
