.center {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  background: #fff;
  border-radius: 5%;
  padding: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 200px;
}

.errorMessage {
  color: red;
  font-size: small;
  margin-top: 0.1px;
  margin-bottom: 0.1px;
}

.pic {
  border-radius: 5%;
  display: flex;
  min-width: 200px;
  min-height: auto;
  width: 590px;
}
