.center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background: #fff;
  border-radius: 5%;
  padding: 50px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 30px;
}

.errorMessage {
  color: red;
  font-size: small;
  margin-top: 0.1px;
  margin-bottom: 0.1px;
}

.pic {
  border-radius: 5%;
  display: flex;
  min-width: 200px;
  min-height: auto;
  width: 590px;
}
