*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f5f8;
  color: #222;
}

.Products{
  align-self: center;
  width: 75vw;
  max-width: 1170px;
  margin: 2rem auto;
  display: grid;
  gap: 2rem;
}

@media  screen and (min-width: 768px) {
  .Products{
    grid-template-columns: repeat(4, 1fr);
  }
}

.Product{
  position: relative;
  text-align: center;
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.Product Button{
  position: relative;
  bottom: 0px;
  width: 100%;
  height: auto;
  background-color: rgb(151, 185, 224);
}

.Product h4{
  margin-top: 5px;
  color: rgb(30, 113, 201);
}

.Pagination{
  text-align: center;
}

.Pagination li{
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}






